- name: Terraform Init
  working-directory: ${{ env.TF_WORKING_DIR }}
  env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: ${{ env.AWS_REGION }}
  run: terraform init

- name: Terraform Plan
  working-directory: ${{ env.TF_WORKING_DIR }}
  env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: ${{ env.AWS_REGION }}
  run: terraform plan

- name: Terraform Apply
  working-directory: ${{ env.TF_WORKING_DIR }}
  env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: ${{ env.AWS_REGION }}
  run: terraform apply -auto-approve
